.homeDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60rem;
    background-size: cover;
    background-image: url('../util/background.jpg');
    flex-wrap: wrap;

}

.profile {
    width: 20rem;
    border: 1px solid black;
}

.summary {
    text-align: center;
    vertical-align: center;
}