.bigdiv {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;

}

@media (max-width: 700px) {
    .projPic {
        width: 100%;
    }

    .profile {
        width: 95%;
    }
}